
.padding {
  padding: 10%;
}

header .bg-black {
  min-height: 400px;
  background-color: rgba(0, 0, 0, 0.5) !important;
  color: white;
}

.margin {
  margin: 30px 0;
}

audio {
  filter: sepia(20%) grayscale(1) contrast(90%) invert(100%);
  opacity: 0.9;
  zoom: 1.4;
}

blockquote {
    font-size: 32px;
    line-height: 32px;
    font-style: italic;
    letter-spacing: -0.1px;
    font-family: 'Playfair Display';
}

blockquote::before {
    content: '“';
    position: relative;
    left: -5px;
    top: -5px;
    font-size: 48px;
}

blockquote::after {
    content: '”';
    position: relative;
    right: -5px;
    bottom: -10px;
    font-size: 48px;
}

.masthead {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url("../assets/img/1.jpg");
  background-size: cover;
}
